
body {
  background-color: white;
  margin:0;
  padding: 0;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;

}
/* home */
.container {

  position: relative;
  width: 1200px;
  height: 300px;
  margin: 50px auto;

}

.container .box {

  position: relative;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: rgb(111,41,97);
  float: left;
  margin: 15px;
  box-sizing: border-box;
  overflow: hidden;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;

}

.container .box .icon {

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:  rgba(237, 214, 231, 0.898);
  transition: 0.5s;
  z-index: 1;
}

.container .box:hover .icon {

  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.container .box .icon .fa {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;

}
.container .box:hover .icon {

  font-size: 40px;
}
.container .box .content {

  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;

}
.container .box:hover .icon {

  top: 100px;
  opacity: 1;
}
.container .box .content {
  margin: 0 0 10px;
  padding: 0;
  font-size: 15px;
  text-align: center;
  color: #fff ;
}

.container .box .content li {
  margin: 0 0 10px;
  padding: 0;
  color: #3e4444;
  font-size: 24px;
}

button {
  padding: 0;
  background: rgb(111,41,97);

}

#manila {
  display: flex;
  background: url(https://images.pexels.com/photos/210367/pexels-photo-210367.jpeg)
  center center no-repeat;
  background-size: cover;
  height: 90vh;
  font-size: xxx-large;
  text-align: left;
  padding: 20px;

}


#categories {
  font-size: xxx-large;
  text-align: center;
  text-decoration: underline;
}

#dodid {
  font-size: xxx-large;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  float: inherit;

}
nav {
  background: rgb(111,41,97);
  height: 150px;
  width: 100%;
  display: flex;
  justify-content: right;
  align-items: center;
}

nav ul{
  float: right;
  margin-right: 20px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;

}

nav ul li a {

  color: white;
  font-size: 25px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  justify-content: center;
  margin-inline: 25px;
}

nav > .fa-bars {
  display: none;
}

h1 {
  text-align: center;
}
h3 {
  text-align: center;
}

footer {
  height: 120px;
  background-color: rgba(237, 214, 231, 0.898) ;
  text-shadow: 0cap;
  color: beige;
  text-align: left;
  text-decoration: solid;
  font-size: larger;
}

.ftrcontct {
  display: flex;
  height: 100px;
  margin-top: 42px;
  padding-bottom: 35px;
  width: 100%;
}
.ftrcontct .ftrcntct {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-decoration: underline;
}
.ftrcontct .ftrcntctadress {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  justify-content: left;
}
.ftrcontct .ftrcontact1{
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-top: 36px;
  width: 134px;
  justify-content: left;
}
.ftrcontct .ftrcontcttel {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 53px;
  margin-top: 46px;
  width: 93px;
}

.ftrcontct .ftrcontctnwsltr {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 72px;
  margin-top: 46px;
}

.ftrcontct .ftrcontctnwsltr .ftrcntcteadress {
  display: flex;
  flex-direction: row;
  margin-top: 4px;
}

element.style {
  border-color: black;
  color: black;
}
.ftrcontct .ftrcontctnwsltr .ftrcntcteadress .ftrcntcteadress2 {
  align-items: center;
  border: 1px solid;
  box-sizing: content-box;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 8px;
  height: 21px;
  justify-content: flex-start;
  line-height: 1.75;
  padding-left: 8px;
  width: 147px;
}

.ftrcontct .ftrcontctnwsltr .ftrcntcteadress
.ftrcntcteadress3 {
  align-items: center;
  display: flex;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;;
  font-size: 8px;
  font-weight: 900;
  height: 23px;
  justify-content: center;
  line-height: 1.75;
  margin-left: 5px;
  text-align: center;
  width: 39px;
  background-color: black;
}

/* dodid */
.accordion
{
  margin: 50px auto;
  width: 3000px;
  max-width: 2000px;
  max-height: max-content;

}
 #six {
  height: fit-content;
 }
.accordion li
{
  list-style: none;
  width: 100%;
  margin: 20px;
  padding: 10px;
  border-radius: 5px;
  background: rgba(237, 214, 231, 0.898);
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
  -6px -6px 10px -1px rgba(255, 255, 0, 0.15);
  display: flex;
  align-items: center;
  justify-content: flex-start;

}
.accordion li label {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;

}

label::before {
  margin-right:10px;
  font-size: 24px;
  font-weight: 600;

}

input[type="radio"]{
  display: none;
}

.accordion .content {
  color: #555;
  padding: 0 10px;
  line-height: 15px;
  overflow: hidden;
  max-height: 6000px;
  transition: max-height 0.3s ease-in-out;

}


.accordion input[type="radio"]:checked + label + .content {
  max-height: 5000px;
  padding: 10px 10px 20px;

}


ul {
  list-style: none;

}

.container2 {
  z-index: 1;
  width: 90%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  position: relative;
  border-spacing: 2;
}


.container3 {

  padding: 10px;
  display: flow-root;
  justify-content: space-around;
  text-align: center;
  display: inline;
}
.container4 {

  padding: 10px;
  display: flow-root;
  justify-content: space-around;
  text-align: center;
  display: inline;
}

.container6 {
    max-width: 300px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center; /* Center text within the container */
  }
  .container7 {
    max-width: 350px;
    margin: 100px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    text-align: center; /* Center text within the container */
  }

#contact_form {
  background-color: white;
  padding: 20px 10px;
  }

.row{
  color: black;
  font-size: 20px;
  margin: 0 auto 10px 10px;
  margin-inline: 5px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

input[type=text], textarea, #subject {
  text-align: center;
  background-color: whitesmoke;
  border-radius: 0%;
  margin: 20px 0 10px 20px;
  width: 100%;
  height: 45px;
  vertical-align: auto;
  justify-content: left;
  background-color: #fff;
  font-size: 18px;
  padding: 8px 12px;
}

input[type=submit] {
  background-color: orchid;
  color: #FFFFFF;
  border-radius: 10px;
  margin-top: 10px;
  align-items: center;
  padding-block: 10px;
  padding-block: 10px;
  font-size: 15px;
  margin-left: 600px;

}

.required {
  margin-bottom: 5px;
  font-weight: ;
  line-height: 1.111em;
  display: block;
  color: rgb(111,41,97);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.apptlist {
  font-size: larger;
  text-align: center;
  justify-content: baseline;
  word-spacing: 10px;
}

